# PSRAM configuration for ESP32-S3-PICO-1-N8R8 (QUAD, nicht OCT!)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

# Watchdog - erstmal deaktiviert zum Testen, später wieder aktivieren
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_TASK_WDT_EN=n